.Warenkorb {
  position: relative;
  background-color: rgb(100, 117, 128);
}

.Kasse {
  position: inherit;
  width: 50%;
}

.FanShop {
  text-align: center;
  margin-bottom: 6vw;
  background-color: rgb(100, 117, 128);
}

.Produkte {
  margin-left: 5%;
  margin-right: 20%;
}

.ProduktName {
  margin-right: 80%;
}

.ProduktBild {
  margin-right: 80%;
}

.Produktbeschreibung {
  margin-right: 80%;
}

.Größe {
}

.Anzahl {
}

.Männlich {
}

.Weiblich {
}

.Ausgewählt {
}

.Gutscheine {
  text-align: center;
  margin-bottom: 6vw;
  background-color: rgb(100, 117, 128);
}

.Gutscheinbetrag {
  margin-right: 80%;
}

.GutscheinBild {
  margin-right: 80%;
}
