.FanShop {
  width: 70%;
  margin-left: 5%;
  text-align: center;
  margin-right: 30%;
  margin-bottom: 3vw;
  background-color: rgb(167, 111, 111);
}

.ProduktName {
  margin-right: 80%;
}

.ProduktBild {
  margin-right: 80%;
}

.Produktbeschreibung {
  margin-right: 80%;
}

.Größe {
}

.Anzahl {
}

.Männlich {
}

.Weiblich {
}

.Ausgewählt {
}

.Warenkorb {
  position: right;
}

.Kasse {
}

.Gutscheine {
  width: 70%;
  margin-left: 5%;
  text-align: center;
  margin-right: 30%;
  margin-bottom: 3vw;
  background-color: rgb(167, 111, 111);
}

.Gutscheinbetrag {
  margin-right: 80%;
}

.GutscheinBild {
  margin-right: 80%;
}
