@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

.DESIGNTextField{
  font-family: "Nunito";
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

.DESIGNTextField:hover {
  color: black;
  text-decoration: none;
}

.DESIGNHeadline1MitHover,
.DESIGNHeadline1 {
  font-family: "Comfortaa";
  text-transform: uppercase;
  color: #353b48;
  font-size: 4rem;
}

.DESIGNHeadline1MitHover:hover {
  cursor: pointer;
  text-decoration: none;
  color: #535c68;
}

.DESIGNHeadline2,
.DESIGNHeadline2MitHover {
  font-family: "Comfortaa";
  text-transform: uppercase;
  font-size: 3rem;
  color: #353b48;
}
.DESIGNHeadline2MitHover:hover {
  cursor: pointer;
  text-decoration: none;
  color: #535c68;
}
.DESIGNHeadline2 {
  cursor: default;
}

.DESIGNHeadline3,
.DESIGNHeadline3MitHover {
  font-family: "Comfortaa";
  text-transform: uppercase;
  font-size: 2rem;
  color: #353b48;
}
.DESIGNHeadline3MitHover {
  cursor: pointer;
  text-decoration: none;
  color: #535c68;
}



.DESIGNBOX{
    width: 80%;
    
    padding: 1.5rem;
    margin-left: 10%;
    border-radius: 40px;
    background-color:#ecf0f1;
    
}
.DESIGNMindestHöhe{
    height: 40vw;
   
}

@media screen and (max-width: 820px) {

    .DESIGNTextField{
        font-size: 3vw;
    }  
    .DESIGNBOX{
        width: 90%;
        margin-left: 5%;
        padding:0.8rem;
        border-radius: 15px;
    }
    .DESIGNHeadline1, .DESIGNHeadline1MitHover{
        font-size: 8vw
    }  
    .DESIGNHeadline2, .DESIGNHeadline2MitHover{
        font-size: 6vw
    } 
    .DESIGNHeadline3, .DESIGNHeadline3MitHover{
        font-size: 3vw
    }
    .DESIGNMindestHöhe{
        height: 100%;
    } 
}
@media screen and (max-width: 1220px) {
    .DESIGNMindestHöhe{
        height: 70vw;
    } 

}

@media screen and (max-width: 550px) {

    .DESIGNMindestHöhe{
        height: 180vw;
    } 
    .DESIGNHeadline3{
      font-size: 5vw;
    }

}

.DESIGNBOX {
  width: 80%;

  padding: 1.5rem;
  margin-left: 10%;
  border-radius: 40px;
  background-color: #ecf0f1;
}




@media screen and (max-width: 820px) {

  .DESIGNTextField {
    font-size: 4vw;
  }
  .DESIGNBOX {
    width: 90%;
    margin-left: 5%;
    padding: 0.8rem;
    border-radius: 15px;
  }
  .DESIGNHeadline1,
  .DESIGNHeadline1MitHover {
    font-size: 8vw;
  }
  .DESIGNHeadline2,
  .DESIGNHeadline2MitHover {
    font-size: 6vw;
  }
  .DESIGNHeadline3,
  .DESIGNHeadline3MitHover {
    font-size: 5vw;
  }
}

