.ErgebnisDarstellung{
    display: flex;
     flex-wrap: wrap; 
    height: 30rem; 
    grid-gap: 4rem;
    justify-content: center;
    flex:1;
}
.filmListe{
    height: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    grid-gap: 4rem;

}
.Title{
    justify-content: center;
    grid-gap: 2rem;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    width: 20rem;
}
.searchBar{
    margin-top: 1%;
    margin-bottom: 1% ;
    margin-left: 1%;
    margin-right: 1%;
    width: 30%;
    display: inline-block;
}
.searchField{
    width: 100%;
}
.filter{
    width: 30%;
    display: inline-block;
}
.wholeFilterSection{
    width: 100%;
}
.genre{
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}
.alter{
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
}
