.ErgebnisDarstellung{
    display: flex;
     flex-wrap: wrap; 
    /* flex: 1 0 17%; */
    height: 30rem; 
    grid-gap: 4rem;
    justify-content: center;
    flex:1;
    /* width: 150px;
    
    justify-content: center;
    grid-gap: 30px; */
}
.filmListe{
    height: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    grid-gap: 4rem;

}
.Title{
    justify-content: center;
    grid-gap: 2rem;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    width: 20rem;
}