.ErgebnisDarstellung {
  display: flex;
  flex-wrap: wrap;
  height: 30rem;
  grid-gap: 4rem;
  justify-content: center;
  flex: 1;
  transition: transform 450ms;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.527), 0 6px 25px 0 rgb(197, 192, 192);
  border-radius: 30px;
}
.ErgebnisDarstellung:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.image {
  border-radius: 30px;
}
.filmListe {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 4rem;
}
.Title {
  justify-content: center;
  grid-gap: 2rem;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  width: 20rem;
  transition: transform 450ms;
}
.Title:hover {
  transform: scale(1.05);
  font-weight: 500;
  cursor: pointer;
}
.searchBar {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
  width: 30%;
  display: inline-block;
}
.searchField {
  width: 100%;
}
.filter {
  display: inline-block;
  font-family: "Nunito";
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}
.wholeFilterSection {
  display: contents;
  width: 100%;
}
.genre {
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
  font-size: 1rem;
}
.alter {
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
  font-size: 1rem;
}
.Filter {
  font-size: 1rem;
}
.DESIGNHeadline1 {
  margin-top: 50px;
  text-align: center;
  font-size: 1rem;
}
@media (max-width: 978px) {
  .wholeFilterSection {
    display: grid;
  }
}
@media (max-width: 625px) {
  .filter {
    display: block;
  }
}
