.LinkeSeite,
.rechteSeite {
  width: 100%;
  padding-left: 5%;
  margin-top: 1rem;
}

.ZahlungsdetailsSelect{
    height: 2.5rem!important;
    width: 40vw;
    background-color: #ecf0f1;
   margin-bottom: 2rem;

} 
.Größe{
    height: 20px;
}

.KinoTicket, .KinoExtras{
    background-color: #ecf0f1;
    flex-wrap: wrap;
    border-style: solid;
    padding: 1rem;
    row-gap: 5rem;
    width: 90%;
    border-radius: 30px;
     
}
.WarenkorbTicket, .WarenkorbSnacks, .ZahlungsdetailSchrift, .PersonenSchrift, .BezahlMethodenText{
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-weight: bold;
    border-radius: 30px;
    font-family: 'Comfortaa';
    text-transform: uppercase;
    font-size: 2rem;
    color: #353b48;

}
.WarenkorbTicket,
.WarenkorbSnacks,
.ZahlungsdetailSchrift,
.PersonenSchrift,
.BezahlMethodenText {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-weight: bold;
}

.FilmÄndern,
.SnackHinzufügen {
  color: wheat;
  cursor: pointer;
  width: 100%;
  margin-bottom: 2rem;
}
.FilmNeu,
.SnackNeu {
  color: darkblue;
  font-size: 1.2rem;
}

.Links,
.Rechts {
  display: flex;
  width: 50%;
}

.Warenkorb{
    display: flex;
    background-color: #bdc3c7;

}
.Tickezs {
  width: 100%;
  height: auto;
}
.InputTextWarenkorb{
    width: 40vw;
    background-color: #ecf0f1;
    height: 2.5rem;
    padding-left: 1rem;
}

.AngabenPerson, .BezahlMethodenBox{
    width: 43vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    border-style: hidden;
    border-style: solid;
    padding: 1rem 1vw 0.5rem 1rem;
    margin-bottom: 2rem;
    border-radius: 30px;
    
    

}
.BezahlMethodenBox{
    
    background-color: #ecf0f1;
}

.PersonenAngabenBox {

    background-color: #ecf0f1;
    flex-wrap: wrap;
    border-style: solid;
    padding: 1rem;
    row-gap: 5rem;
    width: 190%;
    
     

}
.KreditKarteText {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 820px) {
  .Warenkorb {
    display: contents;
  }
  .Links {
    width: 100%;
  }
  .Rechts {
    width: 90%;
    margin-bottom: 20vw;
  }
  .ZahlungsdetailsSelect {
    width: unset;
  }
  .AngabenPerson {
    width: auto;
    display: grid;
  }
  .BezahlMethodenText {
    margin-bottom: 5vw;
  }
  .InputTextWarenkorb {
    width: unset;
  }
}

.ZahlungsdetailText{

    padding: 1rem 3rem 2rem 0
}
.SonderMeldung{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 40vw;
  min-height: 100%;
  flex-wrap: wrap;
}
.BeschreibungQWarenkorb{
  width: 40%
}
.WarenkorbTicketReihe{
  display: flex;
}

