.LinkeSeite,
.rechteSeite {
  width: 100%;
  padding-left: 5%;
  margin-top: 1rem;
}
.ZahlungsdetailsSelect {
  height: 2.5rem !important;
  width: 40vw;
  background-color: lightgray;
  margin-bottom: 2rem;
}
.Größe {
  height: 20px;
}

.KinoTicket,
.KinoExtras {
  background-color: lightgray;
  flex-wrap: wrap;
  border-style: solid;
  padding: 1rem;
  row-gap: 5rem;
  width: 70%;
}
.WarenkorbTicket,
.WarenkorbSnacks,
.ZahlungsdetailSchrift,
.PersonenSchrift,
.BezahlMethodenText {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-weight: bold;
}
.ZahlungsdetailSchrift {
}

.FilmÄndern,
.SnackHinzufügen {
  color: wheat;
  cursor: pointer;
  width: 100%;
  margin-bottom: 2rem;
}
.FilmNeu,
.SnackNeu {
  color: darkblue;
  font-size: 1.2rem;
}

.Links,
.Rechts {
  display: flex;
  width: 50%;
}
.Warenkorb {
  display: flex;
}
.Tickezs {
  width: 100%;
  height: auto;
}
.InputTextWarenkorb {
  width: 40vw;
  background-color: lightgray;
  height: 2.5rem;
  padding-left: 1rem;
}

.AngabenPerson {
  width: 43vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  border-style: hidden;
  border-style: solid;
  padding: 1rem 1vw 0.5rem 1rem;
  margin-bottom: 2rem;
}

.PersonenAngabenBox {
  background-color: lightgray;
  flex-wrap: wrap;
  border-style: solid;
  padding: 1rem;
  row-gap: 5rem;
  width: 190%;
}
.KreditKarteText {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .Warenkorb {
    display: contents;
  }
  .Links {
    width: 100%;
  }
  .Rechts {
    width: 90%;
    margin-bottom: 20vw;
  }
  .ZahlungsdetailsSelect {
    width: unset;
  }
  .AngabenPerson {
    width: auto;
    display: grid;
  }
  .BezahlMethodenText {
    margin-bottom: 5vw;
  }
  .InputTextWarenkorb {
    width: unset;
  }
}
