.wrapper {
    display: flex;
}
.bild {
    display: flex;
    flex-wrap: wrap; 
    height: 30rem; 
    grid-gap: 4rem;
    justify-content: left;
    flex:1;
}
.header {
    margin-top: 1rem;
    margin-left: 1rem;
    align-items: flex-start;
}
.beschreibung {
    margin-left: 1rem;
    align-items: flex-start;
}
.inhalt {
    margin: 1rem;
    justify-content: left;
    display: flex;
    float: left;
}
.vorstellungen {
    margin-top: 2rem;
    margin-left: 1rem;
    align-items: flex-start;
}
.Woche {
    display: flex;
    margin: 2rem;
}
.Datum {
    margin-left: 1rem;
    margin-right: 1rem;
}
.vorstButton {
    width: fit-content;
    margin: 1rem;
    margin-left: 3rem;
}
.vorstWrapper {
    justify-content: center;
    align-items: center;
    display: block;
}
.nextButtonWrapper {
    display:flex;
    justify-content:flex-end;
}
.nextButton {
}