.wrapper {
  display: flex;
}
.bild {
  display: flex;
  flex-wrap: wrap;
  height: 30rem;
  grid-gap: 4rem;
  justify-content: left;
  flex: 1;
  border-radius: 30px;
}
.header {
  margin-top: 1rem;
  margin-left: 1rem;
  align-items: flex-start;
  font-family: "Comfortaa";
  text-transform: uppercase;
  font-size: 3rem;
  color: #353b48;
}
.beschreibung {
  margin-left: 1rem;
  align-items: flex-start;
  font-family: "Nunito";
  font-size: 1rem;
  color: black;
  text-decoration: none;
}
.inhalt {
  margin: 1rem;
  justify-content: left;
  float: left;
  display: flex;
}
.vorstellungen {
  margin-top: 2rem;
  margin-left: 1rem;
  align-items: flex-start;
  font-family: "Comfortaa";
  text-transform: uppercase;
  font-size: 2rem;
  color: #353b48;
}
.Woche {
  display: grid;
  margin: 2rem;
  align-items: flex-start;
  font-family: "Comfortaa";
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #353b48;
}
.Datum {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-family: "Nunito";
  color: black;
  text-decoration: none;
}
.vorstButton {
  width: fit-content;
  position: relative;
  margin-left: 1rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}
.vorstWrapper {
  justify-content: center;
  align-items: center;
  display: block;
}
.nextButtonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-family: "Comfortaa";
  text-transform: uppercase;
  font-size: 1rem;
  color: #353b48;
}

@media (max-width: 779px) {
  .bild {
    height: 20rem;
  }
  .vorstellungen {
    margin-left: unset;
  }
}

@media (max-width: 771px) {
  .header {
    font-size: 2rem;
  }
  .inhalt {
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  .wrapper {
    display: flex;
  }
  .bild {
    height: 20rem;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .beschreibung {
    margin-left: unset;
    margin-top: 1rem;
  }
  .vorstWrapper {
    justify-content: center;
    align-items: center;
    display: contents;
  }
  .nextButtonWrapper {
    justify-content: center;
  }
  .Datum {
    margin-left: unset;
    margin-right: unset;
    font-size: 1.25rem;
    margin-left: 2rem;
  }
  .vorstButton {
    width: fit-content;
    position: relative;
    margin-left: 2rem;
    font-size: 1rem;
  }
  .vorstellungen {
    font-size: 1.5rem;
  }
  .Woche {
    align-items: center;
    font-family: "Comfortaa";
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #353b48;
    display: block;
  }
}
