.SitzplanSeite {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 3px solid;
}

.Sitzplan {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: block;
  background-color: #e4e4e4;
  order: 1;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.Rest {
  width: 100%;
  order: 2;
  margin-left: 10%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #e4e4e4;
}

.SitzplatzreservierungÜberschrift {
  display: flex;
  align-content: center;
  justify-content: center;
  color: #ffa533;
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.527),
    0 6px 25px 0 rgb(197, 192, 192);
}

.Tickets {
  border: 3px solid;
  width: 50%;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgb(100, 117, 128);
}
.TicketArt {
  color: #ffa533;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
  text-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.527),
    0 6px 25px 0 rgb(197, 192, 192);
}
.ReactTable {
  display: table;
  align-content: center;
  align-items: center;
  border-collapse: unset;
  background-color: #e4e4e4;
}
.TicketTable {
  border-collapse: unset;
  background-color: rgb(100, 117, 128);
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.TableElement {
  padding: 0%;
  border: 2px;
}
.ticketElement {
  padding: unset;
  border: unset;
}
.errorNachricht {
  color: red;
}
.anzahlBtn {
  width: 30px;
  border-radius: 5px;
  border-color: black;
}
.anzahlInput {
  border-radius: 5px;
  border-color: black;
  width: 50px;
}
.TicketLabels {
  font-weight: bold;
  font-size: medium;
}

@media (max-width: 1177px) {
  .Rest {
    width: 50%;
    margin-left: 0.5%;
  }
  .Sitzplan {
    width: 50%;
  }
  .Tickets {
    width: 100%;
  }
}

@media (max-width: 675px) {
  .SitzplanSeite {
    display: contents;
  }
  .Sitzplan {
    width: 98%;
    min-height: unset;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .Rest {
    width: 99%;
    align-items: center;
    justify-content: center;
    margin-left: 0.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
  }
  .Tickets {
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 1%;
    padding-right: 1%;
  }
}
@media (max-width: 344px) {
  .SitzplatzreservierungÜberschrift {
    font-size: 1.5rem;
  }
  .TicketArt {
    font-size: 1.5rem;
  }
}
