.SitzplanSeite {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 3px solid;
}

.Sitzplan {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: block;
  background-color: #e4e4e4;
  order: 1;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.Rest {
  width: 100%;
  order: 2;
  margin-left: 10%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #e4e4e4;
}

.SitzplatzreservierungÜberschrift {
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: "Comfortaa";
  text-transform: uppercase;
  font-size: 2rem;
  color: #353b48;
  text-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.527),
    0 6px 25px 0 rgb(197, 192, 192);
}

.Tickets {
  border: 3px solid;
  width: 50%;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgb(100, 117, 128);
  font-family: "Nunito";
  font-size: 1rem;
  color: black;
  text-decoration: none;
}
.TicketArt {
  margin-left: 1rem;
  font-family: "Comfortaa";
  text-transform: uppercase;
  font-size: 2rem;
  color: #353b48;
  text-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.527),
    0 6px 25px 0 rgb(197, 192, 192);
}
.ReactTable {
  display: table;
  align-content: center;
  align-items: center;
  border-collapse: unset;
  background-color: #e4e4e4;
}
.TicketTable {
  border-collapse: unset;
  background-color: rgb(100, 117, 128);
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.TableElement {
  padding: 0%;
  border: 2px;
  background-color:#e4e4e4 ;
}
.ticketElement {
  padding: unset;
  border: unset;
}
.errorNachricht {
  color: red;
}
.anzahlBtn {
  width: 30px;
  border-radius: 5px;
  border-color: black;
}
.anzahlInput {
  border-radius: 5px;
  border-color: black;
  width: 50px;
}
.TicketLabels {
  font-weight: bold;
  font-size: medium;
}
.RestButton {
  background-color: #26418f;
  border-color: #26418f;
  font-family: "Nunito";
  font-size: 1.5rem;
  color: white;
  border-radius: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
  border-radius: 3rem;
  padding: 0.3rem 3rem 0.3rem 3rem;
  text-decoration: none;
  &:after {
    content: "";
    position: absolute;
    display: block;
    color: white;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #0077c2;
    z-index: -1;
    transition: width 150ms ease-in-out;
    text-decoration: none;
  }
  &:hover {
    color: #fff;
    &:after {
      width: 110%;
    }
  }
}
@media (max-width: 1177px) {
  .Rest {
    width: 50%;
    margin-left: 0.5%;
  }
  .Sitzplan {
    width: 50%;
  }
  .Tickets {
    width: 100%;
  }
}
@media (max-width: 915px) {
  .SitzplatzreservierungÜberschrift {
    font-size: 1.5rem;
  }
  .TicketArt {
    font-size: 1.5rem;
  }
  .RestButton {
    font-size: 1rem;
  }
}

@media (max-width: 675px) {
  .SitzplanSeite {
    display: contents;
  }
  .Sitzplan {
    width: 98%;
    min-height: unset;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .Rest {
    width: 99%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 0.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
  }
  .Tickets {
    width: 100%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 1%;
    padding-right: 1%;
  }
}
@media (max-width: 344px) {
  .SitzplatzreservierungÜberschrift {
    font-size: 1.5rem;
  }
  .TicketArt {
    font-size: 1.5rem;
  }
}
