.SitzplanSeite {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 3px solid;
  background-color: none;
}

.Sitzplan {
  min-height: 500px;
  justify-content: center;
  align-items: center;
  display: block;
  background-color: #e4e4e4;
  order: 1;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.Rest {
  width: 50%;
  order: 2;
  margin-left: 10%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.SitzplatzreservierungÜberschrift {
  display:flex;
  align-content: center;
  justify-content: center;
  color: #ffa533;
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.527),
    0 6px 25px 0 rgb(197, 192, 192);
}

.Tickets {
  border: 3px solid;
  width: 50%;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: rgb(100, 117, 128);
}
.TicketArt {
  color: #ffa533;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
  text-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.527),
    0 6px 25px 0 rgb(197, 192, 192);
}

.BezahlMöglichkeiten {
  color: #ffa533;
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.527),
    0 6px 25px 0 rgb(197, 192, 192);
}
.ReactTable {
  border-collapse: unset;
  background-color:  rgb(100, 117, 128);
}
.TicketTable {
  border-collapse: unset;
  background-color:  rgb(100, 117, 128);
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.TableElement {
  padding: 0%;
  border: 2px;
}
.ticketElement {
  padding: unset;
  border: unset;
}
.errorNachricht {
  color: red;
}
.anzahlBtn {
  width: 30px;
  border-radius: 5px;
  border-color: black;
}
.anzahlInput {
  border-radius: 5px;
  border-color: black;
  width: 50px;
}
.TicketLabels {
  font-weight: bold;
  font-size: medium;
}