.NavbarItems {
  background: var(
    --mainDark
  ); /*linear-gradient(90deg, rgba(201, 42, 42, 0) 100%, rgba(168, 28, 28, 0.849) 100%,);*/
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  /* color: var(--mainGrey); */
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 5vw;
  cursor: pointer;
}

.Logo {
  float: left;
  height: inherit;
}

.LOGO1 {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.fas-User {
    margin-left: 0.5rem;
    font-size: 1.6rem}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 3vw;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content:center;
    margin-right: 2rem;
    

    
    

}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 3vw;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: center;
  margin-right: 2rem;
  margin: 0px 16px 0px 0px;
}

.nav-links {
  color: var(--mainWhite);
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  text-decoration: underline;
  color: grey;
  background-color: lightgrey;
  border-radius: 8px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: white;
}

.nav-links-mobile {
  display: none;
}

@media screen and (max-width: 820px){
    .NavbarItems{
        position: relative;
        font-size: 4vw;
    }

    .nav-menu{
        display: flex;
        
        flex-direction: column;
        width: 100%;
        height: 1000px;
        position: absolute;
        transform:  translateY(-60px);
        top: 170%;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #d11717;
        left: 0;
        
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        margin-right: 10vw;

    }
    .nav-links {
        text-align: center;
        padding: 5vw;
        width: 100%;
        transform: translateY( -50px);
        display: table;
    }

    .nav-links:hover {
        background-color: #297ff0;
        border-radius: 20px;
        width: 100%;
        
        
    }

    .navbar-logo{
        position: absolute;
        top: 0;
        left:0;
        transform: translate(25%, 50%);
        
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 5%);
        font-size: 6vw;
        cursor: pointer; 
        
    }

    .fa-times {
        color: #fff;
        font-size: 6vw;

    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #297ff0;
        text-decoration: none;
        color: #fff;
        font-size: 5vw;

    }

    .nav-links-mobile:hover{
        background: #fff;
        color: #297ff0;
        transition: 250ms;
    }
    Button {
        display: none;
        width: 125.76;
        height: 46.4;
    }
    .Headline1{
        font-size: 3rem !important;
    }
    .signIn{
        transform:translateX(-1000%)
    }
    
}

@media screen and (max-width: 820px) {
  .NavbarItems {
    position: relative;
    font-size: 4vw;
  }

  .nav-menu {
    display: flex;

    flex-direction: column;
    width: 100%;
    height: 1000px;
    position: absolute;
    transform: translateY(-60px);
    top: 170%;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #d11717;
    left: 0;

    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-links {
    text-align: center;
    padding: 5vw;
    width: 100%;
    transform: translateY(-50px);
    display: table;
  }

  .nav-links:hover {
    background-color: #297ff0;
    border-radius: 20px;
    width: 100%;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 5%);
    font-size: 6vw;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 6vw;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #297ff0;
    text-decoration: none;
    color: #fff;
    font-size: 5vw;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #297ff0;
    transition: 250ms;
  }
  Button {
    display: none;
    width: 125.76;
    height: 46.4;
  }
  .Headline1 {
    font-size: 3rem !important;
  }
  .signIn {
    transform: translateX(-1000%);
  }
}

.Headline1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 7vw;
  text-align: center;
  margin-left: 0;
  margin-bottom: 0vw;
  color: #fa983a;
  height: 120px;
  width: 100%;
  background-image: url(../../Pics/headerkinoseite.jpg);
  background-size: contain;
}
@media screen  and (max-width: 250px){
    
    .Kreativ{
        display: none;
    }
    .menu-icon {
        transform: translate(-100%, 50%);
        font-size: 12vw;
    }
    .nav-links {
        transform: translateY( -300px);
         }
        
        .fa-times {
               
                font-size: 12vw;
        
            }
            .nav-links-mobile {
                transform: translateY( -320px);
            }
        
    }  
@media screen and (min-width: 251px) and (max-width: 350px){
    
    .Kreativ{
        width: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1rem;
        text-align: center;
        margin-left: -200px;
        align-items: center;
        font-weight: bold;

        
    }
    .menu-icon {
        transform: translate(-100%, 20%);
        font-size: 12vw;
    }
    .nav-links {
        transform: translateY( -250px);
         }
        
    .fa-times {
                
                font-size: 10vw;
        
            }
    .nav-links-mobile {
        transform: translateY( -300px);
        
         }
    
        

.headerBild {
  height: 120px;
  width: 100%;
}
}
@media screen and (min-width: 351px) and (max-width: 450px){
    
    .Kreativ{
        width: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2.3rem;
        text-align: center;
        margin-left: -80px;
        align-items: center;
        font-weight: bold;

        
    }      
    .menu-icon {
        transform: translate(-100%, 20%);
        font-size: 10vw;
    }   
    .nav-links {
        transform: translateY( -200px);
         }
        
        .fa-times {
                
                font-size: 9vw;
        
            }  
            .nav-links-mobile {
                transform: translateY( -200px);
                 }
    
        


}

@media screen and (min-width: 451px) and ( max-width: 600px){
    .Kreativ{
        width: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 3rem;
        text-align: center;
        
        align-items: center;
        font-weight: bold;

        
    }  
    .menu-icon {
        transform: translate(-100%, 20%);
        font-size: 8vw;
    }
    .nav-links {
        transform: translateY( -150px);
         }
        
        .fa-times {
                color: #fff;
                font-size: 8vw;
        
            }
            .nav-links-mobile {
                transform: translateY( -150px);
                 }

}
@media screen and (min-width: 601px) and ( max-width: 750px){
    
    .Kreativ{
        width: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 3.5rem;
        text-align: center;
       
        align-items: center;
        font-weight: bold;

        
    }  
    .menu-icon {
        transform: translate(-100%, 10%);
        font-size: 7vw;
    }
    .nav-links {
        transform: translateY( -50px);
         }
        
        .fa-times {
                
                font-size: 8vw;
        
            }
    
        
       
} 

@media screen and (min-width: 751px) and ( max-width: 1000px){
    
    .Kreativ{
        width: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 4.2rem;
        text-align: center;
       
        align-items: center;
        font-weight: bold;
               
    }  

    .NavbarItems{
        position: relative;
        font-size: 1rem;
        height: 100%;
        width: 100%;
        margin-top: -5rem;
    }
}
@media screen and (min-width: 251px) and (max-width: 350px) {
  .Kreativ {
    width: 100%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1rem;
    text-align: center;
    margin-left: -200px;
    align-items: center;
    font-weight: bold;
  }
  .menu-icon {
    transform: translate(-100%, 20%);
    font-size: 12vw;
  }
  .nav-links {
    transform: translateY(-250px);
  }

  .fa-times {
    font-size: 10vw;
  }
}
@media screen and (min-width: 1301px) and ( max-width: 2000px){
    
    .Kreativ{
        width: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 6.5rem;
        text-align: center;
       
        align-items: center;
        font-weight: bold;
               
    }  

     
}
@media screen and (min-width: 2001px){
    
    .Kreativ{
        width: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 7vw;
        text-align: center;
      
        align-items: center;
        font-weight: bold;
               
    }  

    .Headline1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 7vw;
        text-align: center;
        
        margin-left: 0;
        margin-bottom: 0vw;
        color: #3644d0;
        height: 10vw;
        width: 100%;
        }
    
}
@media screen and (min-width: 601px) and (max-width: 750px) {
  .Kreativ {
    width: 100%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 3.5rem;
    text-align: center;
    margin-left: -80px;
    align-items: center;
    font-weight: bold;
  }
  .menu-icon {
    transform: translate(-100%, 10%);
    font-size: 7vw;
  }
  .nav-links {
    transform: translateY(-50px);
  }

  .fa-times {
    font-size: 8vw;
  }
}

@media screen and (min-width: 751px) and (max-width: 1000px) {
  .Kreativ {
    width: 100%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 4.2rem;
    text-align: center;
    margin-left: -60px;
    align-items: center;
    font-weight: bold;
  }

  .NavbarItems {
    position: relative;
    font-size: 1rem;
    height: 100%;
    width: 100%;
    margin-top: -5rem;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  .Kreativ {
    width: 100%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 5.2rem;
    text-align: center;
    margin-left: -60px;
    align-items: center;
    font-weight: bold;
  }

  .NavbarItems {
    position: relative;
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
  }
}
@media screen and (min-width: 1301px) and (max-width: 2000px) {
  .Kreativ {
    width: 100%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 6.5rem;
    text-align: center;
    margin-left: -60px;
    align-items: center;
    font-weight: bold;
  }
}
@media screen and (min-width: 2001px) {
  .Kreativ {
    width: 100%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 7vw;
    text-align: center;
    margin-left: -60px;
    align-items: center;
    font-weight: bold;
  }

  .Headline1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 7vw;
    text-align: center;

    margin-left: 0;
    margin-bottom: 0vw;
    color: #3644d0;
    height: 10vw;
    width: 100%;
  }
}
.Link {
  height: inherit;
}

.signIn {
  color: gray;

  padding: 1rem 2rem;

  text-align: center;
}
.signIn:hover {
  text-decoration: underline;
  color: grey;
  background-color: lightgrey;
  border-radius: 8px;
  transition: all 0.2s ease-out;
}
.Navbarbottom {
  height: 1vw;
  background: var(--mainDark);
}
