.DealDWÜberschrift {
  color: #ffa533;
  display: flex;
  margin-top: 2vw;
  font-weight: bold;
  font-size: 4rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.527),0 6px 25px 0 rgb(197, 192, 192);
}

.InfoDWÜberschrift {
  color: #ffa533;
  margin-top: 2vw;
  font-weight: bold;
  font-size: 4rem;
  margin-top: 2vw;
  font-weight: bold;
  font-size: 4.5vw;
  text-align: center !important;
  align-items: center;
  text-decoration: none;
  text-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.527),0 6px 25px 0 rgb(197, 192, 192);
}

.DealDWSchrift {
  text-align: center;
}

.DealDWSchrift:hover {
  color: darkred;
  border-radius: 10px;
}

.InfoDWSchrift {
  text-align: center;
}

.class {
  display: none;
}

.class:hover {
  font-size: large;
}

.DealDWText {
  background-color: rgb(100, 117, 128);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  align-items: center;
  text-align: center;
}

.InfoDWText {
  background-color: rgb(100, 117, 128);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vw;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.527),0 6px 25px 0 rgb(197, 192, 192);
}

.DealDWKomplett {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  margin-right: 10%;
  margin-bottom: 3vw;
}

.Fehler {
  font-size: 4vw;
  font-weight: bold;
}

.MittelBlock {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.DealDWText {
  background-color: rgb(100, 117, 128);
  font-family: Arial, Helvetica, sans-serif;
  border-style: hidden;
  font-size: 1.8vw;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.527),0 6px 25px 0 rgb(197, 192, 192);
}

.InfoDWText {
  background-color: rgb(100, 117, 128);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8vw;
  align-items: center;
  text-align: center;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.527),0 6px 25px 0 rgb(197, 192, 192);
}

@media screen and (max-width: 820px) {
  .DealDWÜberschrift {
    font-size: 9vw;
    margin-left: 1%;
  }
  .DealDWText {
    font-size: 4vw;
  }
  .InfoDWÜberschrift {
    font-size: 9vw;
    margin-left: 1%;
  }
  .InfoDWText {
    font-size: 4vw;
  }
}

.DealDWKomplett {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  margin-right: 10%;
}

.Fehler {
  font-size: 4vw;
  font-weight: bold;
}
