.DealDWÜberschrift{
    color: blue;
    display: flex;
    margin-top: 2vw;
    font-weight: bold;
    font-size: 4rem;
    justify-content: center;
    text-align: center;
    align-items: center; 
    cursor: pointer;
    text-decoration: none;
    
}

.InfoDWÜberschrift{
    color: rgb(31, 73, 165);
    
    margin-top: 2vw;
    font-weight: bold;
    font-size: 4rem;

  margin-top: 2vw;
  font-weight: bold;
  font-size: 4.5vw;

  text-align: center !important;
  align-items: center;

  text-decoration: none;
}

.DealDWSchrift {
  text-align: center;
}

.DealDWSchrift:hover {
  color: darkred;

  border-radius: 10px;
}
.InfoDWSchrift {
  text-align: center;
}
.class{
  display:none;
}
.class:hover{
  font-size: large;
}


.DealDWText{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    border: black;
    border-style: solid;
    font-size: 2vw;
    align-items: center;
    text-align: center;
}

.InfoDWText{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    border: black;
    border-style: solid;
    font-size: 2vw;
    align-items: center;
    text-align: center;
    color:white;
}


.DealDWKomplett{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-right: 10%;
    margin-bottom: 3vw;
    
    
}
.Fehler{
    font-size: 4vw;
    font-weight: bold;
}

.MittelBlock{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
.DealDWText {
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
  border: black;
  border-style: solid;
  font-size: 1.8vw;
  align-items: center;
  text-align: center;
}

.InfoDWText {
  background-color: grey;
  font-family: Arial, Helvetica, sans-serif;
  border: black;
  border-style: solid;
  font-size: 1.8vw;
  align-items: center;
  text-align: center;
  color: white;
}

@media screen and (max-width: 820px) {
  .DealDWÜberschrift {
    font-size: 9vw;
    margin-left: 1%;
  }
  .DealDWText {
    font-size: 4vw;
  }
  .InfoDWÜberschrift{
    font-size: 9vw;
   margin-left: 1%;
}
.InfoDWText{
    font-size: 4vw;
}
  
}

.DealDWKomplett {
  width: 80%;
  margin-left: 10%;
  text-align: center;
  margin-right: 10%;
}
.Fehler {
  font-size: 4vw;
  font-weight: bold;
}
