.Suche {
  display: flex;
  justify-content: center;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.Submit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ButtonSubmit {
  background-color: black;
  color: white;
  height: 4vw;
  width: 15vw;
  font-size: 2vw;
}
.ButtonSubmit:hover {
  background-color: aquamarine;
}

.Textfield {
  align-items: center;
  text-align: center;
}

.Form {
  width: 100%;
}
.InputText {
  width: 60vw;
  align-items: center;
  height: 5vw;
  font-size: 3vw;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
}
.InputText:hover {
  background-color: rgb(233, 233, 233);
}
.InputText:focus {
  background-color: rgb(233, 233, 233);
}

.ErgebnisDarstellung {
  display: flex;
  flex-wrap: wrap;
  /* flex: 1 0 17%; */
  height: 30rem;
  grid-gap: 4rem;
  justify-content: center;
  flex: 1;
  /* width: 150px;
    
    justify-content: center;
    grid-gap: 30px; */
}

.ErgebnisBox {
  overflow: auto;
}

.Title {
  justify-content: center;
  grid-gap: 2rem;
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
  width: 20rem;
}
.MaxHeight {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 4rem;
}
.FehlerMeldung {
  font-size: 3vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
}
.Ergebnise {
  width: 20rem;
}
.Bestätigunganfrage {
  align-content: center;
  text-align: center;
  justify-content: center;
}

.Infomation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Buttons {
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  grid-gap: 0.5rem;
}

.Bestätigung {
  background-color: green;
  width: 80%;
  margin-left: 10%;
  margin-top: 0.5rem;
}
.Ablehnen {
  width: 80%;
  margin-left: 10%;
}
.Nachfrage {
  flex-wrap: wrap;
}

@media screen and (max-width: 820px) {
  .Buttons {
  }

  
}
.doppelButton{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0 2rem 0;
  grid-gap: 4rem;
  flex-wrap: wrap;
}

.DropDownMitte{
  display: flex;
  justify-content: center;
  align-items: center;
}
.SelectGröße{
  width: 50vw;
height: 3rem;
font-size: 2rem;
}
.TextAlignMitte{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.AuswahlBestätigungSubmit{
  padding: 1rem 0 4rem 0;
  display: flex;
  justify-content: center;
}




.ErfolgreichFilm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 2rem 0;
  flex-wrap: wrap;


}
.LangeWIdth{
  width: 100%;
  text-align: center;
}