:root {
    --mainDark: #343a40;
    --mainGrey: rgba(109, 109, 109);
    --mainLightGrey: rgba(172, 172, 172);
    --mainWhite: #ffffff;
    --mainBlue: #007bff;
}

.App {
  background-color: rgb(131, 131, 131);
  
}