.gesamterBlock{
    height: 500px;
}

.VorstellungsBlock{
 
   /*   */
}


.Überschrift{
    text-align: center;

}


.InformationsEingabe{
    height: 12rem; 
    border-color: green;
    border-width: 5px;
    border-style: solid;
    margin-right: 20%;
    margin-left: 25%;

}
/* .abfrage{
    float: left; 
    border-color: aqua;
    border-style: solid;
    border-width: 2px;
    width: fit-content;
    display: flex;
    align-items: left;
    justify-content: left;
} */

/* .antwort{
    float: inline-start; 
    border-color: blueviolet;
    border-style: solid;
    border-width: 2px;
    display: flex;
    align-items: right;
    justify-content: right;
} */

/* .image{
    width: 20%;
    height: 25%;
} */

.antwort, .abfrage {

    border-color: blueviolet;
    border-style: solid;
    border-width: 2px;
    float: left;
    width: 25%;
    margin-right: 2%;
    padding: 10px;
    box-sizing: border-box;
/*     grid-gap: 10px;
 */    display:flex;
    flex-wrap: wrap;
} 

.abfrage{
    line-height: 1.9rem;
}

.antwort{
    width: 70%;
}

.nameDesFilmes{
    width: 100%;
}

.datum{
    float: left;
    width: 100%;
}


.date, .month, .year{
    float: left;
}

.uhrzeit{
    border-color: blueviolet;
    border-style: solid;
    border-width: 2px;
    justify-content: left;
    width: 100%;
    height: 40px;
}

.stunde, .minute {
    justify-content: left;
    float:left;
}

.hinzufügen{
    float: right;
    border-color: blueviolet;
    border-style: solid;
    border-width: 2px;
    margin-right: 20%;
    margin-left: 60%;
    height: 40px;
  
}


.wiederholung{
    border-color: blueviolet;
    border-style: solid;
    border-width: 2px;
  
    margin-right: 20%;
    margin-left: 25%;

}

.buttonHinzufügen{
float: right;
}

.wiederholungsRythmus{
    float: left;
}

