.Tabelle {
  width: 200%;
  margin-right: 5%;
  margin-left: 10%;
}
.SpalteS {
  margin-bottom: 5px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  background-color: gray;
  font-size: 2.5rem;
  text-align: center;
}
.SpalteS:hover {
  text-decoration: underline;
  color: #ff0000;
  background-color: #198330;
  border-radius: 8px;
  transition: all 0.2s ease-out;
}
.SpalteW:hover {
  text-decoration: underline;
  color: #0004ff;
  background-color: #ffae00;
  border-radius: 8px;
  transition: all 0.2s ease-out;
}
.SpalteW {
  height: 50px;

  background-color: gray;
  margin-bottom: 5px;
  color: #000;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  font-size: 2.5rem;
}
.Navigation {
  width: 100%;

  margin-top: 3vw;
  align-items: center;
  display: flex;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}
.Navigation2 {
  width: 100%;

  margin-top: 3vw;
  align-self: center;
  align-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;

  margin-bottom: 2rem;
}

.Start-Ende {
  background: #000;
  color: white;

  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  font-size: 3rem;
  margin-right: 30%;
  margin-left: 30%;
}
.Start-Ende:hover {
  text-decoration: underline;
  color: #ff0000;
  background-color: #2600fc;
  border-radius: 8px;
  transition: all 0.2s ease-out;
}
.Ende-Start {
  background: #fff;
  color: #000;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 3rem;
  margin-right: 30%;
  margin-left: 30%;
}
.Ende-Start:hover {
  text-decoration: underline;
  color: #d21bd8;
  background-color: #139b79;
  border-radius: 8px;
  transition: all 0.2s ease-out;
}

.Informationen {
  margin-right: 10%;
  margin-bottom: 2rem;
}
.Inf-Box {
  background-color: rgba(128, 128, 128, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 5vw;
  text-decoration: underline;
}
.Inf-Boxsmall {
  background-color: rgba(128, 128, 128, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3vw;
}
.Inf-Boxsmaller {
  background-color: rgba(128, 128, 128, 0);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2.5vw;
}

.Flex {
  display: flex;

  margin-top: 30px;

  width: 100%;
}
.Headline3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 5vw;
  /* margin-right: 3vw; */
  /* margin-left: 3.4vw; */
  margin-bottom: 0.5vw;
}

.TextW {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  background-color: rgba(128, 128, 128, 0);
}

.TextS {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  background-color: rgba(128, 128, 128, 0);
}
.Test {
  background-color: yellow;
  width: 100%;
}

@media screen and (max-width: 820px) {
  .Start-Ende {
    font-size: 1.5rem;
  }
  .Ende-Start {
    font-size: 1.5rem;
  }
  .TextS {
    font-size: 0.8rem;
  }
  .TextW {
    font-size: 0.8rem;
  }
  .SpalteS {
    padding: 8%;
    font-size: 1.5rem;
  }
  .SpalteW {
    padding: 8%;
    font-size: 1.5rem;
  }
  .Tabelle {
    width: 300%;
  }
}
.Hintergrund {
  background-color: #12345300 !important;
  height: 500px !important;
  width: 100%;
  margin-left: -50px;
}
.SpalteW {
  height: 50px;

  margin-bottom: 5px;

  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
}

.BacktoTop {
  font-weight: bold;
  font-size: 1.8rem;
  color: #0004ff;
  cursor: pointer;
}

.Logos {
  height: 10vw;
}
