.slider {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 48vw;
  width: 30vw;
  align-items: center;
  box-sizing: border-box;
  margin-top: 50px;
  margin-left: 35vw;
  padding: 0;
  display: flex;
  overflow: hidden;
  background: black;
  font-size: 4vw;
}

.slide {
  position: relative;
  min-width: 100%;
  height: 80%;
  transition: 0.5s;
  overflow: hidden;
  transform: translateX(1%);
}

#goLeftMobile {
  display: none;
}

#goRightMobile {
  display: none;
}

%btn-styles {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  transition: 0.5s;
  color: white;
  &:hover {
    background: rgba(0, 0, 0, 0.438);
    cursor: pointer;
    color: rgb(196, 196, 196);
  }
}

#goLeft {
  left: 0;
  @extend %btn-styles;
}

#goRight {
  right: 0;
  @extend %btn-styles;
}

.TextDisplay {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 50%;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-left: 25%;
  margin-top: 30px;
}

.image {
  overflow: hidden;
  transition: 2s;
  height: 100%;
  transition: 0.5s;
}

@media (max-width: 820px) {
  .slider {
  margin-left: 20vw;
  width: 60vw;
  height: 90vw;
  }
  

  #flexboxContainer {
    
    color: white;
    width: 	70vw;
    height: 70vw;
  }

  %btnMobile-styles {
    display: flex;
    height: 100%;
    transform: translateY(-50%);
    align-items: center;
    width: 15%;
    transition: 0.5s;
    color: white;
    &:hover {
      background: rgba(0, 0, 0, 0.438);
      cursor: pointer;
      color: rgb(196, 196, 196);
    }
  }

  #goLeft {
    @extend %btnMobile-styles;
  }

  #goRight {
    @extend %btnMobile-styles;
  }
}

@media (orientation: landscape) and (max-width: 100px) {
}

@media (orientation: portrait) {
}
