.slider {
  display: flex;
  flex-wrap:wrap;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 33vw;
  width: 21vw;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  border-radius: 30px;
  overflow: hidden;
  background: black;
  font-size: 3vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.527),0 6px 25px 0 rgb(197, 192, 192);
}

.slide {
  position: relative;
   min-width: 100%; 
  height: 80%;
  transition: 0.5s;
  overflow: hidden;
  transform: translateX(1%);
  
  
}

#goLeftMobile {
  display: none;
}

#goRightMobile {
  display: none;
}

%btn-styles {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  transition: 0.5s;
  color: white;
 
  &:hover {
    background: rgba(0, 0, 0, 0.438);
    cursor: pointer;
    color: rgb(196, 196, 196);
  }
}



#goLeft {
  left: 0;
  
 
  @extend %btn-styles;
}

#goRight {
  right: 0;
  
  
  @extend %btn-styles;
}

.TextDisplay, .TextDisplayMitte {
  display: flex;
  flex-direction: column;
  text-align: center;
  
  align-items: center;
  position: relative;
  overflow: hidden;

  margin-top: 30px;
}
.TextDisplayMitte{
  width: 21vw;
}

.image {
  overflow: hidden;
  transition: 2s;
  height: 100%;
  transition: 0.5s;
}

.leftButton{
  display: flex;
  justify-content: center;
  width: 100%;
 

}
@media (max-width: 820px) {
  
    
.leftButton{
  font-size: 8vw;
}


  .slider {
  
  width: 58vw;
  height: 90vw;
  }

  .slide{
    display:flex;
    justify-content: center;
    text-align: center;
    width: 50vw;
    
  }
  
  .TextDisplayMitte{
    width: 100%;
  }
  

  #flexboxContainer {
    
    color: white;
    width: 	70vw;
    height: 70vw;
    text-align: center;
    
  }

  %btnMobile-styles {
    display: flex;
    height: 100%;
    transform: translateY(-50%);
    align-items: center;
    width: 15%;
    transition: 0.5s;
    color: white;
    &:hover {
      background: rgba(0, 0, 0, 0.438);
      cursor: pointer;
      color: rgb(196, 196, 196);
    }
  }

  #goLeft {
    @extend %btnMobile-styles;
  }

  #goRight {
    @extend %btnMobile-styles;
  }
}

@media (orientation: landscape) and (max-width: 100px) {
}

@media (orientation: portrait) {
}
.linkeSeiteSliderBild{
  width: inherit;
  border-radius: 30px;
  opacity: 0.6; 
  
}
.linkeSeiteSliderBild2{
  width: inherit;
  border-radius: 30px;
  opacity: 0.3;  
  
}

.linkeSeitediv{
  display:flex;
  
  
}
.rechteSeiteSliderBild{
  width: inherit;
  border-radius: 30px;
  opacity: 0.6;  
  
  
}

.rechteSeiteSliderBild2{
  width: inherit;
  border-radius: 30px;
  opacity: 0.3; 
  
}
.rechteSeitediv{
  display:flex;
  
}

.SliderKOmplett{
  display:flex;
  
  justify-content: center;
  margin-top: 5rem;
  grid-gap: 2rem;



}

.rechteSeitedivBlock{
  display: block;
  padding-top: 10%;
  width: 17vw;
}
.rechteSeitedivBlock2{
  display: block;
 width: 13vw;
 padding-top: 25%;
}

.linkeSeitedivBlock{
  display: block;
  width:17vw;
  padding-top: 10%;
}
.linkeSeitedivBlock2{
  display: block;
  width: 13vw;
  padding-top: 25%;
}

@media (max-width: 820px) {

  .rechteSeitedivBlock{
    display: none;
  }
  .rechteSeitedivBlock2{
    display: none;
  }
  .linkeSeitedivBlock{
    display: none;
  }
  .linkeSeitedivBlock2{
    display: none;
  }
  

}
